<table class="table">
  <thead>
  <tr>
    <td>Name</td>
    <td>Price</td>
  </tr>
  </thead>
<% @items.each do |item| %>
    <tr>
      <td><%=item.name%></td>
      <td><%=item.price%></td>
    </tr>
<% end %>
</table>

<%= link_to "Check Out", check_out_path %>